@font-face {
  font-family: Nexa-Bold;
  src: url(../../fonts/Nexa-Bold.otf); }

@font-face {
  font-family: OpenSans-Regular;
  src: url(../../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: OpenSans-Bold;
  src: url(../../fonts/OpenSans-Bold.ttf); }

body, html, * {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  width: 100%;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, i {
  font-weight: normal;
  font-style: normal; }

body:after {
  content: " ";
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(0);
  transition: all .30s ease; }

body.block {
  overflow: hidden; }
  body.block:after {
    transform: scale(1); }

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */
main {
  position: relative;
  width: 100%;
  overflow: hidden; }

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */
/*==============================
=            COLORS            =
==============================*/
/*----------  COLORS  ----------*/
/* NOIR */
/* GRIS */
/* BLEU */
/* JAUNE */
/* VIOLET */
/* VERT */
/* GRIS */
/*=====  End of COLORS  ======*/
/*=============================
=            FONTS            =
=============================*/
/*=====  End of FONTS  ======*/
/*=================================
=            TEXT SIZE            =
=================================*/
/*----------  H1  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H2  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H3  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H4  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H5  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H6  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  QUOTE  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  PARAGRAPH BIG  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  PARAGRAPH MEDIUM  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  PARAGRAPH SMALL  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  PARAGRAPH TINY  ----------*/
/*----------  DESKTOP  ----------*/
/*=====  End of TEXT SIZE  ======*/
/*============================
=            GRID            =
============================*/
/*=====  End of GRID  ======*/
/*===================================
=            BREAK POINT            =
===================================*/
/*=====  End of BREAK POINT  ======*/
/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */
/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */
/*----------  FUNCTION  ----------*/
/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/
/*----------  HEADING  ----------*/
/*----------  H1  ----------*/
/*----------  H2  ----------*/
/*----------  H3  ----------*/
/*----------  H4  ----------*/
/*----------  H5  ----------*/
/*----------  H6  ----------*/
/*----------  PARAGRAPH QUOTE  ----------*/
/*----------  PARAGRAPH BIG  ----------*/
/*----------  PARAGRAPH MEDIUM  ----------*/
/*----------  PARAGRAPH SMALL  ----------*/
/*----------  PARAGRAPH SMALL  ----------*/
/*----------  BUTTON  ----------*/
/*----------  COMMON  ----------*/
/*----------  STYLE BIG  ----------*/
/*----------  STYLE SMALL  ----------*/
/*----------  NAV  ----------*/
/*----------  LINK  ----------*/
/*----------  GRID  ----------*/
/*----------  COMMON  ----------*/
/*----------  SIZE 1  ----------*/
/*----------  SIZE 2  ----------*/
/*----------  SIZE 3  ----------*/
/*----------  SIZE 4  ----------*/
/*----------  ANIM  ----------*/
/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */
/*======================================
=            COMMON SECTION            =
======================================*/
#cm-section-demo {
  padding: 100px 0px 100px 0px;
  position: relative; }
  #cm-section-demo .cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    #cm-section-demo .cover:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%); }
  #cm-section-demo .wrapper {
    position: relative;
    z-index: 1;
    margin: auto;
    text-align: center;
    width: 460px; }
    #cm-section-demo .wrapper h2 {
      font-family: Nexa-Bold;
      color: #1C1C1C;
      font-size: 40px;
      line-height: 45px;
      color: #FFF;
      margin-bottom: 25px; }
    #cm-section-demo .wrapper p {
      font-family: OpenSans-Regular;
      color: #606060;
      font-size: 16px;
      line-height: 26px;
      color: #FFF;
      margin-bottom: 50px; }
    #cm-section-demo .wrapper a {
      cursor: pointer;
      text-decoration: none;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      padding: 20px 26px 20px 26px; }
      #cm-section-demo .wrapper a .btn-arrow {
        position: relative;
        z-index: 1;
        transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      #cm-section-demo .wrapper a .btn-text {
        position: relative;
        z-index: 1;
        transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      #cm-section-demo .wrapper a.hover-left:hover:before {
        transform: translateX(5%) scaleX(1.1); }
      #cm-section-demo .wrapper a.hover-left:hover .btn-arrow {
        transform: translateX(20px) scaleX(1.3); }
      #cm-section-demo .wrapper a.hover-left:hover .btn-text {
        transform: translateX(10px); }
      #cm-section-demo .wrapper a.hover-center:hover:before {
        transform: scaleX(1.1); }
      #cm-section-demo .wrapper a.hover-center:hover .btn-arrow {
        transform: translateX(10px) scaleX(1.3); }
      #cm-section-demo .wrapper a:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      #cm-section-demo .wrapper a:not(.style-transparent) .btn-arrow {
        width: 11px; }
      #cm-section-demo .wrapper a:not(.style-transparent) .btn-text {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 16px;
        line-height: initial;
        color: #FFF; }
      #cm-section-demo .wrapper a:not(.style-white):not(.style-transparent):before {
        background-color: #000; }
      #cm-section-demo .wrapper a:not(.style-white):not(.style-transparent) .btn-arrow {
        fill: #FFF; }
      #cm-section-demo .wrapper a.style-white:before {
        background-color: #FFF; }
      #cm-section-demo .wrapper a.style-white .btn-text {
        color: #1C1C1C; }
      #cm-section-demo .wrapper a.style-white .btn-arrow {
        color: #1C1C1C; }
      #cm-section-demo .wrapper a.style-transparent:before {
        background-color: transparent; }
      #cm-section-demo .wrapper a.style-transparent .btn-text {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 26px;
        line-height: 32px;
        color: #FFF; }
      #cm-section-demo .wrapper a.style-transparent .btn-arrow {
        width: 17px;
        fill: #FFF; }
      #cm-section-demo .wrapper a .btn-arrow {
        margin-left: 14px; }

#cm-section-management {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative; }
  #cm-section-management .wrapper {
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #cm-section-management .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #cm-section-management .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #cm-section-management .wrapper {
        width: 1100px; } }
    #cm-section-management .wrapper h2 {
      width: 520px;
      font-family: Nexa-Bold;
      color: #1C1C1C;
      font-size: 40px;
      line-height: 45px; }
    #cm-section-management .wrapper .sep {
      margin: 50px 0px 50px 0px;
      height: 2px;
      width: 100px;
      background-color: #1C1C1C; }
    #cm-section-management .wrapper .content {
      display: flex;
      justify-content: space-between; }
      #cm-section-management .wrapper .content .container-photo {
        position: relative;
        width: 370px;
        height: 650px; }
        #cm-section-management .wrapper .content .container-photo .bg {
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; }
        #cm-section-management .wrapper .content .container-photo:before {
          content: " ";
          position: absolute;
          z-index: 0;
          top: 12px;
          left: 12px;
          width: 100%;
          height: 100%;
          background-color: #A6B7C7; }
      #cm-section-management .wrapper .content .container-text {
        width: 525px; }
        #cm-section-management .wrapper .content .container-text p {
          font-family: OpenSans-Regular;
          color: #606060;
          font-size: 16px;
          line-height: 26px; }
        #cm-section-management .wrapper .content .container-text .container-el {
          margin-top: 55px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          #cm-section-management .wrapper .content .container-text .container-el .el {
            width: 220px; }
            #cm-section-management .wrapper .content .container-text .container-el .el:first-child {
              margin-bottom: 65px; }
            #cm-section-management .wrapper .content .container-text .container-el .el h3 {
              font-family: Nexa-Bold;
              color: #1C1C1C;
              font-size: 26px;
              line-height: 32px; }
            #cm-section-management .wrapper .content .container-text .container-el .el p {
              font-family: OpenSans-Regular;
              color: #606060;
              font-size: 14px;
              line-height: 24px; }
        #cm-section-management .wrapper .content .container-text a {
          margin-top: 95px;
          cursor: pointer;
          text-decoration: none;
          display: inline-flex;
          flex-flow: row wrap;
          align-items: center;
          position: relative;
          padding: 17px 25px 17px 25px; }
          #cm-section-management .wrapper .content .container-text a .btn-arrow {
            position: relative;
            z-index: 1;
            transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #cm-section-management .wrapper .content .container-text a .btn-text {
            position: relative;
            z-index: 1;
            transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #cm-section-management .wrapper .content .container-text a.hover-left:hover:before {
            transform: translateX(5%) scaleX(1.1); }
          #cm-section-management .wrapper .content .container-text a.hover-left:hover .btn-arrow {
            transform: translateX(20px) scaleX(1.3); }
          #cm-section-management .wrapper .content .container-text a.hover-left:hover .btn-text {
            transform: translateX(10px); }
          #cm-section-management .wrapper .content .container-text a.hover-center:hover:before {
            transform: scaleX(1.1); }
          #cm-section-management .wrapper .content .container-text a.hover-center:hover .btn-arrow {
            transform: translateX(10px) scaleX(1.3); }
          #cm-section-management .wrapper .content .container-text a:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #cm-section-management .wrapper .content .container-text a:not(.style-transparent) .btn-arrow {
            width: 11px; }
          #cm-section-management .wrapper .content .container-text a:not(.style-transparent) .btn-text {
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 16px;
            line-height: initial;
            color: #FFF; }
          #cm-section-management .wrapper .content .container-text a:not(.style-white):not(.style-transparent):before {
            background-color: #000; }
          #cm-section-management .wrapper .content .container-text a:not(.style-white):not(.style-transparent) .btn-arrow {
            fill: #FFF; }
          #cm-section-management .wrapper .content .container-text a.style-white:before {
            background-color: #FFF; }
          #cm-section-management .wrapper .content .container-text a.style-white .btn-text {
            color: #1C1C1C; }
          #cm-section-management .wrapper .content .container-text a.style-white .btn-arrow {
            color: #1C1C1C; }
          #cm-section-management .wrapper .content .container-text a.style-transparent:before {
            background-color: transparent; }
          #cm-section-management .wrapper .content .container-text a.style-transparent .btn-text {
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 26px;
            line-height: 32px;
            color: #FFF; }
          #cm-section-management .wrapper .content .container-text a.style-transparent .btn-arrow {
            width: 17px;
            fill: #FFF; }
          #cm-section-management .wrapper .content .container-text a .btn-arrow {
            margin-left: 9px; }

/*=====  End of COMMON SECTION  ======*/
/*======================================
=            WRAP LINE ANIM            =
======================================*/
.wrapLine span {
  display: block;
  transform: translateY(25px);
  opacity: 0;
  transition: all 650ms cubic-bezier(0.705, 0.445, 0.345, 0.995); }
  .wrapLine span.anim {
    transform: translateY(0%);
    opacity: 1; }
  .wrapLine span:nth-child(1) {
    transition-delay: 0.05s; }
  .wrapLine span:nth-child(2) {
    transition-delay: 0.1s; }
  .wrapLine span:nth-child(3) {
    transition-delay: 0.15s; }
  .wrapLine span:nth-child(4) {
    transition-delay: 0.2s; }
  .wrapLine span:nth-child(5) {
    transition-delay: 0.25s; }
  .wrapLine span:nth-child(6) {
    transition-delay: 0.3s; }
  .wrapLine span:nth-child(7) {
    transition-delay: 0.35s; }
  .wrapLine span:nth-child(8) {
    transition-delay: 0.4s; }
  .wrapLine span:nth-child(9) {
    transition-delay: 0.45s; }

.wrapLine.anim span {
  transform: translateY(0%);
  opacity: 1; }

/*=====  End of WRAP LINE ANIM  ======*/
#header-desktop {
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: all 0.25s ease; }
  #header-desktop .wrapper {
    height: 90px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #header-desktop .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #header-desktop .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #header-desktop .wrapper {
        width: 1200px; } }
    #header-desktop .wrapper .container-link {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      #header-desktop .wrapper .container-link .logo {
        height: 28px;
        text-decoration: none;
        margin-right: 75px; }
        #header-desktop .wrapper .container-link .logo img {
          height: 100%; }
      #header-desktop .wrapper .container-link ul {
        position: relative;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center; }
        #header-desktop .wrapper .container-link ul li {
          position: relative;
          padding-bottom: 7px;
          transform: translateY(3.5px);
          overflow: hidden;
          display: flex;
          align-items: center; }
          #header-desktop .wrapper .container-link ul li a {
            text-decoration: none;
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 16px;
            line-height: initial; }
          #header-desktop .wrapper .container-link ul li img {
            margin-left: 5px;
            width: 10px;
            height: 5px;
            transition: all .25s ease; }
          #header-desktop .wrapper .container-link ul li::before {
            content: " ";
            position: absolute;
            bottom: .5px;
            left: -25px;
            width: 25px;
            height: 2px;
            background-color: #1C1C1C;
            transition: all .25s ease; }
          #header-desktop .wrapper .container-link ul li.select::before, #header-desktop .wrapper .container-link ul li:hover::before {
            left: 0; }
          #header-desktop .wrapper .container-link ul li:not(:last-child) {
            margin-right: 58px; }
        #header-desktop .wrapper .container-link ul .dropdown {
          position: absolute;
          top: calc(100% + 40px);
          left: -25px;
          width: 265px;
          border-radius: 5px;
          background-color: #FFF;
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          transition: all .5s ease;
          display: none;
          opacity: 0; }
          #header-desktop .wrapper .container-link ul .dropdown a {
            display: inline-block;
            padding: 25px 17px;
            width: 100%;
            text-decoration: none;
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 16px;
            line-height: initial;
            transition: all .25s ease; }
            #header-desktop .wrapper .container-link ul .dropdown a:first-child {
              border-radius: 5px 5px 0 0; }
            #header-desktop .wrapper .container-link ul .dropdown a:last-child {
              border-radius: 0 0 5px 5px; }
            #header-desktop .wrapper .container-link ul .dropdown a:hover {
              color: #FFF;
              background-color: #1C1C1C; }
        #header-desktop .wrapper .container-link ul.block li img {
          transform: rotate(180deg); }
        #header-desktop .wrapper .container-link ul.block .dropdown {
          display: block; }
        #header-desktop .wrapper .container-link ul.show .dropdown {
          opacity: 1; }
    #header-desktop .wrapper .container-action {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      #header-desktop .wrapper .container-action a {
        cursor: pointer; }
      #header-desktop .wrapper .container-action .signin {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding-bottom: 5px;
        padding-bottom: 9px;
        transform: translateY(4.5px); }
        #header-desktop .wrapper .container-action .signin .link-arrow {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial;
          margin-right: 5px; }
        #header-desktop .wrapper .container-action .signin .link-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial; }
        #header-desktop .wrapper .container-action .signin:before {
          content: '';
          position: absolute;
          left: 0px;
          bottom: 0px;
          width: 100%;
          height: 1px;
          background-color: #1C1C1C;
          transform: scaleX(0);
          transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #header-desktop .wrapper .container-action .signin:hover:before {
          transform: scaleX(1); }
        #header-desktop .wrapper .container-action .signin img {
          width: 13px;
          margin-right: 13px; }
        #header-desktop .wrapper .container-action .signin span {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial; }
      #header-desktop .wrapper .container-action > .sep {
        margin: 0px 25px 0px 25px;
        background-color: rgba(0, 0, 0, 0.3);
        height: 3px;
        width: 3px;
        border-radius: 3px; }
      #header-desktop .wrapper .container-action .signup {
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        position: relative;
        padding: 20px 26px 20px 26px; }
        #header-desktop .wrapper .container-action .signup .btn-arrow {
          position: relative;
          z-index: 1;
          transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #header-desktop .wrapper .container-action .signup .btn-text {
          position: relative;
          z-index: 1;
          transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #header-desktop .wrapper .container-action .signup.hover-left:hover:before {
          transform: translateX(5%) scaleX(1.1); }
        #header-desktop .wrapper .container-action .signup.hover-left:hover .btn-arrow {
          transform: translateX(20px) scaleX(1.3); }
        #header-desktop .wrapper .container-action .signup.hover-left:hover .btn-text {
          transform: translateX(10px); }
        #header-desktop .wrapper .container-action .signup.hover-center:hover:before {
          transform: scaleX(1.1); }
        #header-desktop .wrapper .container-action .signup.hover-center:hover .btn-arrow {
          transform: translateX(10px) scaleX(1.3); }
        #header-desktop .wrapper .container-action .signup:before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #header-desktop .wrapper .container-action .signup:not(.style-transparent) .btn-arrow {
          width: 11px; }
        #header-desktop .wrapper .container-action .signup:not(.style-transparent) .btn-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial;
          color: #FFF; }
        #header-desktop .wrapper .container-action .signup:not(.style-white):not(.style-transparent):before {
          background-color: #000; }
        #header-desktop .wrapper .container-action .signup:not(.style-white):not(.style-transparent) .btn-arrow {
          fill: #FFF; }
        #header-desktop .wrapper .container-action .signup.style-white:before {
          background-color: #FFF; }
        #header-desktop .wrapper .container-action .signup.style-white .btn-text {
          color: #1C1C1C; }
        #header-desktop .wrapper .container-action .signup.style-white .btn-arrow {
          color: #1C1C1C; }
        #header-desktop .wrapper .container-action .signup.style-transparent:before {
          background-color: transparent; }
        #header-desktop .wrapper .container-action .signup.style-transparent .btn-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 26px;
          line-height: 32px;
          color: #FFF; }
        #header-desktop .wrapper .container-action .signup.style-transparent .btn-arrow {
          width: 17px;
          fill: #FFF; }
        #header-desktop .wrapper .container-action .signup .btn-arrow {
          margin-left: 14px; }
      #header-desktop .wrapper .container-action .lg-log-in {
        position: absolute;
        top: calc(100% + 40px);
        left: 60px;
        transform: translateX(-50%);
        padding: 32px;
        width: 375px;
        background-color: #FFF;
        box-shadow: 0 2px 50px 0 rgba(89, 93, 93, 0.35);
        transition: all .5s ease;
        display: none;
        opacity: 0; }
        #header-desktop .wrapper .container-action .lg-log-in.block {
          display: block; }
        #header-desktop .wrapper .container-action .lg-log-in.show {
          opacity: 1; }
        #header-desktop .wrapper .container-action .lg-log-in:before {
          content: " ";
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 14.5px 16px 14.5px;
          border-color: transparent transparent #ffffff transparent; }
        #header-desktop .wrapper .container-action .lg-log-in .cross {
          cursor: pointer;
          position: absolute;
          top: 24px;
          right: 24px;
          transition: all .25s ease; }
          #header-desktop .wrapper .container-action .lg-log-in .cross:hover {
            opacity: .8; }
        #header-desktop .wrapper .container-action .lg-log-in h3 {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 26px;
          line-height: 32px;
          width: 200px; }
        #header-desktop .wrapper .container-action .lg-log-in p {
          margin-top: 16px;
          font-family: OpenSans-Regular;
          color: #606060;
          font-size: 16px;
          line-height: 26px; }
        #header-desktop .wrapper .container-action .lg-log-in form {
          display: flex;
          flex-direction: column; }
          #header-desktop .wrapper .container-action .lg-log-in form .sep {
            margin: 40px 0 25px 0;
            width: 100%;
            height: 1px;
            background-color: #F2F2F2; }
          #header-desktop .wrapper .container-action .lg-log-in form .input label {
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 16px;
            line-height: initial;
            width: 100%; }
          #header-desktop .wrapper .container-action .lg-log-in form .input input {
            margin-top: 10px;
            width: 100%;
            font-family: OpenSans-Regular;
            color: #606060;
            font-size: 14px;
            line-height: 24px;
            border: none;
            outline: none; }
        #header-desktop .wrapper .container-action .lg-log-in a {
          text-decoration: none;
          font-family: OpenSans-Regular;
          color: #606060;
          font-size: 16px;
          line-height: 26px; }
        #header-desktop .wrapper .container-action .lg-log-in button {
          margin: 35px 0 0 auto;
          outline: none;
          border: none;
          cursor: pointer;
          text-decoration: none;
          display: inline-flex;
          flex-flow: row wrap;
          align-items: center;
          position: relative;
          padding: 17px 25px 17px 25px; }
          #header-desktop .wrapper .container-action .lg-log-in button .btn-arrow {
            position: relative;
            z-index: 1;
            transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #header-desktop .wrapper .container-action .lg-log-in button .btn-text {
            position: relative;
            z-index: 1;
            transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #header-desktop .wrapper .container-action .lg-log-in button.hover-left:hover:before {
            transform: translateX(5%) scaleX(1.1); }
          #header-desktop .wrapper .container-action .lg-log-in button.hover-left:hover .btn-arrow {
            transform: translateX(20px) scaleX(1.3); }
          #header-desktop .wrapper .container-action .lg-log-in button.hover-left:hover .btn-text {
            transform: translateX(10px); }
          #header-desktop .wrapper .container-action .lg-log-in button.hover-center:hover:before {
            transform: scaleX(1.1); }
          #header-desktop .wrapper .container-action .lg-log-in button.hover-center:hover .btn-arrow {
            transform: translateX(10px) scaleX(1.3); }
          #header-desktop .wrapper .container-action .lg-log-in button:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #header-desktop .wrapper .container-action .lg-log-in button:not(.style-transparent) .btn-arrow {
            width: 11px; }
          #header-desktop .wrapper .container-action .lg-log-in button:not(.style-transparent) .btn-text {
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 16px;
            line-height: initial;
            color: #FFF; }
          #header-desktop .wrapper .container-action .lg-log-in button:not(.style-white):not(.style-transparent):before {
            background-color: #000; }
          #header-desktop .wrapper .container-action .lg-log-in button:not(.style-white):not(.style-transparent) .btn-arrow {
            fill: #FFF; }
          #header-desktop .wrapper .container-action .lg-log-in button.style-white:before {
            background-color: #FFF; }
          #header-desktop .wrapper .container-action .lg-log-in button.style-white .btn-text {
            color: #1C1C1C; }
          #header-desktop .wrapper .container-action .lg-log-in button.style-white .btn-arrow {
            color: #1C1C1C; }
          #header-desktop .wrapper .container-action .lg-log-in button.style-transparent:before {
            background-color: transparent; }
          #header-desktop .wrapper .container-action .lg-log-in button.style-transparent .btn-text {
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 26px;
            line-height: 32px;
            color: #FFF; }
          #header-desktop .wrapper .container-action .lg-log-in button.style-transparent .btn-arrow {
            width: 17px;
            fill: #FFF; }
          #header-desktop .wrapper .container-action .lg-log-in button .btn-arrow {
            margin-left: 9px; }
  #header-desktop.scroll {
    background-color: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); }

.container-lg {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  transition: all .25s ease;
  display: none;
  opacity: 0; }
  .container-lg.block {
    display: block; }
  .container-lg.show {
    opacity: 1; }

.lg-contact {
  position: absolute;
  top: 150;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  margin-bottom: 100px;
  padding: 125px 110px 75px 110px;
  background-color: #FFF; }
  .lg-contact .cross {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: all .25s ease; }
    .lg-contact .cross:hover {
      opacity: .8; }
  .lg-contact .obj-1, .lg-contact .obj-2 {
    position: absolute; }
  .lg-contact .obj-1 {
    position: absolute;
    top: 60px;
    right: 0;
    width: 245px;
    height: 245px; }
  .lg-contact .obj-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 350px;
    opacity: .5; }
  .lg-contact .container-text {
    padding-left: 65px;
    padding-right: 200px; }
    .lg-contact .container-text h2 {
      font-family: Nexa-Bold;
      color: #1C1C1C;
      font-size: 50px;
      line-height: 60px; }
    .lg-contact .container-text p {
      margin-top: 10px;
      font-family: OpenSans-Regular;
      color: #606060;
      font-size: 18px;
      line-height: 28px; }
  .lg-contact form {
    margin-top: 110px;
    display: flex;
    flex-direction: column; }
    .lg-contact form .row {
      display: flex;
      justify-content: space-between; }
      .lg-contact form .row:not(:first-child) {
        margin-top: 30px; }
      .lg-contact form .row .input {
        position: relative;
        padding-top: 25px;
        width: 45%; }
        .lg-contact form .row .input label {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial;
          width: 100%; }
        .lg-contact form .row .input input {
          border: none;
          margin-top: 10px;
          outline: none;
          font-family: OpenSans-Regular;
          color: #606060;
          font-size: 14px;
          line-height: 24px;
          width: 100%; }
        .lg-contact form .row .input span {
          display: none;
          font-family: OpenSans-Regular;
          color: #FFF;
          font-size: 11px;
          line-height: initial;
          color: #EB5A5A;
          width: 100%; }
        .lg-contact form .row .input .cross, .lg-contact form .row .input .check {
          display: none;
          position: absolute;
          top: 50px;
          right: 0;
          width: 16px;
          height: 16px; }
        .lg-contact form .row .input:before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #F2F2F2; }
        .lg-contact form .row .input:focus:before {
          background-color: #F2F2F2; }
        .lg-contact form .row .input.good .check {
          display: block; }
        .lg-contact form .row .input.bad .cross {
          display: block; }
        .lg-contact form .row .input.bad span {
          display: block; }
    .lg-contact form button {
      margin: 50px 0 0 auto;
      outline: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      padding: 17px 25px 17px 25px; }
      .lg-contact form button .btn-arrow {
        position: relative;
        z-index: 1;
        transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      .lg-contact form button .btn-text {
        position: relative;
        z-index: 1;
        transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      .lg-contact form button.hover-left:hover:before {
        transform: translateX(5%) scaleX(1.1); }
      .lg-contact form button.hover-left:hover .btn-arrow {
        transform: translateX(20px) scaleX(1.3); }
      .lg-contact form button.hover-left:hover .btn-text {
        transform: translateX(10px); }
      .lg-contact form button.hover-center:hover:before {
        transform: scaleX(1.1); }
      .lg-contact form button.hover-center:hover .btn-arrow {
        transform: translateX(10px) scaleX(1.3); }
      .lg-contact form button:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      .lg-contact form button:not(.style-transparent) .btn-arrow {
        width: 11px; }
      .lg-contact form button:not(.style-transparent) .btn-text {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 16px;
        line-height: initial;
        color: #FFF; }
      .lg-contact form button:not(.style-white):not(.style-transparent):before {
        background-color: #000; }
      .lg-contact form button:not(.style-white):not(.style-transparent) .btn-arrow {
        fill: #FFF; }
      .lg-contact form button.style-white:before {
        background-color: #FFF; }
      .lg-contact form button.style-white .btn-text {
        color: #1C1C1C; }
      .lg-contact form button.style-white .btn-arrow {
        color: #1C1C1C; }
      .lg-contact form button.style-transparent:before {
        background-color: transparent; }
      .lg-contact form button.style-transparent .btn-text {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 26px;
        line-height: 32px;
        color: #FFF; }
      .lg-contact form button.style-transparent .btn-arrow {
        width: 17px;
        fill: #FFF; }
      .lg-contact form button .btn-arrow {
        margin-left: 9px; }

/*=================================
=            PAGE ABOUT           =
==================================*/
main {
  overflow: initial; }

#section-cover {
  padding-top: 145px;
  padding-bottom: 110px; }
  #section-cover .wrapper {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #section-cover .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #section-cover .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #section-cover .wrapper {
        width: 1000px; } }
    #section-cover .wrapper .container-illu {
      width: 425px; }
      #section-cover .wrapper .container-illu img {
        width: 100%; }
    #section-cover .wrapper .container-text {
      width: 435px; }
      #section-cover .wrapper .container-text h1 {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 50px;
        line-height: 60px; }
      #section-cover .wrapper .container-text p {
        margin-top: 18px;
        padding-right: 55px;
        font-family: OpenSans-Regular;
        color: #606060;
        font-size: 18px;
        line-height: 28px; }
      #section-cover .wrapper .container-text a {
        margin-top: 45px;
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        position: relative;
        padding: 20px 26px 20px 26px; }
        #section-cover .wrapper .container-text a .btn-arrow {
          position: relative;
          z-index: 1;
          transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #section-cover .wrapper .container-text a .btn-text {
          position: relative;
          z-index: 1;
          transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #section-cover .wrapper .container-text a.hover-left:hover:before {
          transform: translateX(5%) scaleX(1.1); }
        #section-cover .wrapper .container-text a.hover-left:hover .btn-arrow {
          transform: translateX(20px) scaleX(1.3); }
        #section-cover .wrapper .container-text a.hover-left:hover .btn-text {
          transform: translateX(10px); }
        #section-cover .wrapper .container-text a.hover-center:hover:before {
          transform: scaleX(1.1); }
        #section-cover .wrapper .container-text a.hover-center:hover .btn-arrow {
          transform: translateX(10px) scaleX(1.3); }
        #section-cover .wrapper .container-text a:before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #section-cover .wrapper .container-text a:not(.style-transparent) .btn-arrow {
          width: 11px; }
        #section-cover .wrapper .container-text a:not(.style-transparent) .btn-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial;
          color: #FFF; }
        #section-cover .wrapper .container-text a:not(.style-white):not(.style-transparent):before {
          background-color: #000; }
        #section-cover .wrapper .container-text a:not(.style-white):not(.style-transparent) .btn-arrow {
          fill: #FFF; }
        #section-cover .wrapper .container-text a.style-white:before {
          background-color: #FFF; }
        #section-cover .wrapper .container-text a.style-white .btn-text {
          color: #1C1C1C; }
        #section-cover .wrapper .container-text a.style-white .btn-arrow {
          color: #1C1C1C; }
        #section-cover .wrapper .container-text a.style-transparent:before {
          background-color: transparent; }
        #section-cover .wrapper .container-text a.style-transparent .btn-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 26px;
          line-height: 32px;
          color: #FFF; }
        #section-cover .wrapper .container-text a.style-transparent .btn-arrow {
          width: 17px;
          fill: #FFF; }
        #section-cover .wrapper .container-text a .btn-arrow {
          margin-left: 14px; }

#section-origin {
  position: relative; }
  #section-origin .obj-1 {
    position: absolute;
    z-index: 2;
    width: 315px;
    bottom: -70px;
    right: 0; }
  #section-origin .wrapper {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
    margin-right: auto;
    margin-left: auto;
    background-color: #00585E; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #section-origin .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #section-origin .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #section-origin .wrapper {
        width: 1200px; } }
    #section-origin .wrapper .obj-2 {
      position: absolute;
      bottom: -100px;
      left: -35px;
      width: 260px;
      height: 472px; }
    #section-origin .wrapper .container-text {
      margin: 0 200px;
      display: flex;
      justify-content: space-between;
      align-items: end; }
      #section-origin .wrapper .container-text .left, #section-origin .wrapper .container-text .right {
        width: 330px; }
      #section-origin .wrapper .container-text h2 {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 38px;
        line-height: 45px;
        color: #FFF; }
      #section-origin .wrapper .container-text h3 {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 26px;
        line-height: 32px;
        color: #FFF; }
      #section-origin .wrapper .container-text .sep {
        margin: 38px 0px 38px 0px;
        height: 2px;
        width: 100px;
        background-color: #FFF; }
      #section-origin .wrapper .container-text p {
        margin-top: 32px;
        font-family: OpenSans-Regular;
        color: #606060;
        font-size: 16px;
        line-height: 26px;
        opacity: 0.8;
        color: #FFF; }
        #section-origin .wrapper .container-text p span {
          display: block;
          font-family: OpenSans-Bold; }

#section-team {
  position: relative;
  padding-top: 100px;
  padding-bottom: 75px; }
  #section-team .obj {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
  #section-team .wrapper {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #section-team .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #section-team .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #section-team .wrapper {
        width: 1000px; } }
    #section-team .wrapper .container-text {
      position: sticky;
      top: 150px;
      width: 260px; }
      #section-team .wrapper .container-text h2 {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 40px;
        line-height: 45px;
        text-align: right; }
      #section-team .wrapper .container-text .sep {
        margin: 42px 0px 42px auto;
        height: 2px;
        width: 100px;
        background-color: #1C1C1C; }
      #section-team .wrapper .container-text p {
        font-family: OpenSans-Regular;
        color: #606060;
        font-size: 16px;
        line-height: 26px;
        text-align: right; }
    #section-team .wrapper .container-el {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 600px; }
      #section-team .wrapper .container-el .el {
        width: 260px; }
        #section-team .wrapper .container-el .el:first-child {
          margin-bottom: 100px; }
        #section-team .wrapper .container-el .el:nth-child(2) {
          transform: translateY(350px); }
        #section-team .wrapper .container-el .el .container-photo {
          position: relative;
          width: 100%;
          height: 420px; }
          #section-team .wrapper .container-el .el .container-photo .bg {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center; }
          #section-team .wrapper .container-el .el .container-photo:before {
            content: " ";
            position: absolute;
            z-index: 0;
            top: 12px;
            left: 12px;
            width: 100%;
            height: 100%;
            background-color: #A6B7C7; }
        #section-team .wrapper .container-el .el .name, #section-team .wrapper .container-el .el .job, #section-team .wrapper .container-el .el p {
          padding-left: 20px; }
        #section-team .wrapper .container-el .el .name {
          margin-top: 25px;
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 26px;
          line-height: 32px; }
        #section-team .wrapper .container-el .el .job {
          margin-top: 2px;
          font-family: OpenSans-Regular;
          color: #606060;
          font-size: 16px;
          line-height: 26px; }
        #section-team .wrapper .container-el .el p {
          margin-top: 22px;
          font-family: OpenSans-Regular;
          color: #606060;
          font-size: 14px;
          line-height: 24px; }

#section-photos {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  width: 100%;
  height: 400px;
  overflow: hidden; }
  #section-photos .container-photo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(20px);
    height: 100%;
    white-space: nowrap;
    transition: all .25s ease; }
  #section-photos .photo {
    display: inline-block;
    height: 100%;
    width: 515px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    #section-photos .photo:not(:last-child) {
      margin-right: 20px; }

#section-press {
  position: relative;
  z-index: 0;
  padding-top: 145px;
  padding-bottom: 145px;
  background-color: #1C1C1C; }
  #section-press .obj {
    position: absolute;
    width: 250px;
    top: -140px;
    left: 0; }
  #section-press .wrapper {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #section-press .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #section-press .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #section-press .wrapper {
        width: 1100px; } }
    #section-press .wrapper h2 {
      margin-left: 50px;
      font-family: Nexa-Bold;
      color: #1C1C1C;
      font-size: 38px;
      line-height: 45px;
      text-align: right;
      width: 375px;
      color: #FFF; }
    #section-press .wrapper .container-logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 580px; }
      #section-press .wrapper .container-logos .logo {
        max-width: 120px;
        max-height: 30px; }
        #section-press .wrapper .container-logos .logo img {
          width: 100%;
          height: 100%; }

/*=====================================
=            END PAGE ABOUT           =
======================================*/
footer {
  position: relative;
  z-index: 1;
  padding: 50px 0;
  background-color: #1C1C1C; }
  footer .wrapper {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      footer .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      footer .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      footer .wrapper {
        width: 1200px; } }
    footer .wrapper .container-text {
      width: 300px; }
      footer .wrapper .container-text .logo img {
        width: 160px;
        height: 40px; }
      footer .wrapper .container-text p {
        margin-top: 22px;
        font-family: OpenSans-Regular;
        color: #606060;
        font-size: 14px;
        line-height: 24px;
        color: #FFF;
        opacity: .8; }
      footer .wrapper .container-text .rights {
        margin-top: 8px;
        font-family: OpenSans-Regular;
        color: #FFF;
        font-size: 11px;
        line-height: initial;
        color: #FFF; }
    footer .wrapper .container-links {
      margin-top: 20px;
      width: 115px; }
      footer .wrapper .container-links h5 {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 14px;
        line-height: initial;
        color: #FFF; }
      footer .wrapper .container-links ul {
        margin-top: 25px; }
        footer .wrapper .container-links ul li {
          list-style: none; }
          footer .wrapper .container-links ul li a {
            font-family: OpenSans-Regular;
            color: #606060;
            font-size: 14px;
            line-height: 24px;
            text-decoration: none;
            transition: all .25s ease; }
            footer .wrapper .container-links ul li a:hover {
              color: #FFF; }
    footer .wrapper .container-sn {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 85px; }
      footer .wrapper .container-sn .sn {
        transition: all .25s ease; }
        footer .wrapper .container-sn .sn img {
          width: 15px;
          height: 15px; }
        footer .wrapper .container-sn .sn:hover {
          opacity: .8; }
    footer .wrapper .container-lang {
      position: relative;
      margin-top: 17px; }
      footer .wrapper .container-lang.block .lg img:last-child {
        transform: rotate(180deg); }
      footer .wrapper .container-lang.block .dropdown {
        display: block; }
      footer .wrapper .container-lang.show .dropdown {
        opacity: 1; }
      footer .wrapper .container-lang .lg {
        cursor: pointer;
        display: flex;
        align-items: center; }
        footer .wrapper .container-lang .lg img:first-child {
          width: 30px;
          height: 22px;
          margin-right: 10px; }
        footer .wrapper .container-lang .lg span {
          font-family: OpenSans-Regular;
          color: #606060;
          font-size: 14px;
          line-height: 24px;
          margin-right: 10px; }
        footer .wrapper .container-lang .lg img:last-child {
          width: 8px;
          height: 5px;
          transition: all .25s ease; }
      footer .wrapper .container-lang > .lg span {
        color: #FFF; }
      footer .wrapper .container-lang .dropdown {
        position: absolute;
        bottom: calc(100% + 20px);
        left: 50%;
        transform: translateX(-50%);
        width: 140px;
        border-radius: 5px;
        background-color: #FFF;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        transition: all .5s ease;
        display: none;
        opacity: 0; }
        footer .wrapper .container-lang .dropdown .lg {
          position: relative;
          padding: 25px;
          text-decoration: none;
          transition: all .25s ease; }
          footer .wrapper .container-lang .dropdown .lg:not(:last-child):before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #D8D8D8; }
          footer .wrapper .container-lang .dropdown .lg:hover {
            opacity: .8; }
          footer .wrapper .container-lang .dropdown .lg span {
            color: #1C1C1C; }
