@font-face {
  font-family: Nexa-Bold;
  src: url(../../fonts/Nexa-Bold.otf); }

@font-face {
  font-family: OpenSans-Regular;
  src: url(../../fonts/OpenSans-Regular.ttf); }

body, html, * {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  width: 100%;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, i {
  font-weight: normal;
  font-style: normal; }

body.block {
  overflow: hidden; }

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */
main {
  position: relative;
  width: 100%;
  overflow: hidden; }

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */
/*==============================
=            COLORS            =
==============================*/
/*----------  COLORS  ----------*/
/* NOIR */
/* GRIS */
/* BLEU */
/* JAUNE */
/* VIOLET */
/* VERT */
/* GRIS */
/*=====  End of COLORS  ======*/
/*=============================
=            FONTS            =
=============================*/
/*=====  End of FONTS  ======*/
/*=================================
=            TEXT SIZE            =
=================================*/
/*----------  H1  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H2  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H3  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H4  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H5  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  H6  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  QUOTE  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  PARAGRAPH BIG  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  PARAGRAPH MEDIUM  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  PARAGRAPH SMALL  ----------*/
/*----------  DESKTOP  ----------*/
/*----------  PARAGRAPH TINY  ----------*/
/*----------  DESKTOP  ----------*/
/*=====  End of TEXT SIZE  ======*/
/*============================
=            GRID            =
============================*/
/*=====  End of GRID  ======*/
/*===================================
=            BREAK POINT            =
===================================*/
/*=====  End of BREAK POINT  ======*/
/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */
/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */
/*----------  FUNCTION  ----------*/
/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/
/*----------  HEADING  ----------*/
/*----------  H1  ----------*/
/*----------  H2  ----------*/
/*----------  H3  ----------*/
/*----------  H4  ----------*/
/*----------  H5  ----------*/
/*----------  H6  ----------*/
/*----------  PARAGRAPH QUOTE  ----------*/
/*----------  PARAGRAPH BIG  ----------*/
/*----------  PARAGRAPH MEDIUM  ----------*/
/*----------  PARAGRAPH SMALL  ----------*/
/*----------  PARAGRAPH SMALL  ----------*/
/*----------  BUTTON  ----------*/
/*----------  COMMON  ----------*/
/*----------  STYLE BIG  ----------*/
/*----------  STYLE SMALL  ----------*/
/*----------  NAV  ----------*/
/*----------  LINK  ----------*/
/*----------  GRID  ----------*/
/*----------  COMMON  ----------*/
/*----------  SIZE 1  ----------*/
/*----------  SIZE 2  ----------*/
/*----------  SIZE 3  ----------*/
/*----------  SIZE 4  ----------*/
/*----------  ANIM  ----------*/
/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */
/*======================================
=            COMMON SECTION            =
======================================*/
#cm-section-demo {
  padding: 100px 0px 100px 0px;
  position: relative; }
  #cm-section-demo .cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    #cm-section-demo .cover:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%); }
  #cm-section-demo .wrapper {
    position: relative;
    z-index: 1;
    margin: auto;
    text-align: center;
    width: 460px; }
    #cm-section-demo .wrapper h2 {
      font-family: Nexa-Bold;
      color: #1C1C1C;
      font-size: 40px;
      line-height: 45px;
      color: #FFF;
      margin-bottom: 25px; }
    #cm-section-demo .wrapper p {
      font-family: OpenSans-Regular;
      color: #606060;
      font-size: 16px;
      line-height: 26px;
      color: #FFF;
      margin-bottom: 50px; }
    #cm-section-demo .wrapper a {
      cursor: pointer;
      text-decoration: none;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      padding: 20px 26px 20px 26px; }
      #cm-section-demo .wrapper a .btn-arrow {
        position: relative;
        z-index: 1;
        transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      #cm-section-demo .wrapper a .btn-text {
        position: relative;
        z-index: 1;
        transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      #cm-section-demo .wrapper a.hover-left:hover:before {
        transform: translateX(5%) scaleX(1.1); }
      #cm-section-demo .wrapper a.hover-left:hover .btn-arrow {
        transform: translateX(20px) scaleX(1.3); }
      #cm-section-demo .wrapper a.hover-left:hover .btn-text {
        transform: translateX(10px); }
      #cm-section-demo .wrapper a.hover-center:hover:before {
        transform: scaleX(1.1); }
      #cm-section-demo .wrapper a.hover-center:hover .btn-arrow {
        transform: translateX(10px) scaleX(1.3); }
      #cm-section-demo .wrapper a:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
      #cm-section-demo .wrapper a:not(.style-transparent) .btn-arrow {
        width: 11px; }
      #cm-section-demo .wrapper a:not(.style-transparent) .btn-text {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 16px;
        line-height: initial;
        color: #FFF; }
      #cm-section-demo .wrapper a:not(.style-white):not(.style-transparent):before {
        background-color: #000; }
      #cm-section-demo .wrapper a:not(.style-white):not(.style-transparent) .btn-arrow {
        fill: #FFF; }
      #cm-section-demo .wrapper a.style-white:before {
        background-color: #FFF; }
      #cm-section-demo .wrapper a.style-white .btn-text {
        color: #1C1C1C; }
      #cm-section-demo .wrapper a.style-white .btn-arrow {
        color: #1C1C1C; }
      #cm-section-demo .wrapper a.style-transparent:before {
        background-color: transparent; }
      #cm-section-demo .wrapper a.style-transparent .btn-text {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 26px;
        line-height: 32px;
        color: #FFF; }
      #cm-section-demo .wrapper a.style-transparent .btn-arrow {
        width: 17px;
        fill: #FFF; }
      #cm-section-demo .wrapper a .btn-arrow {
        margin-left: 14px; }

#cm-section-management {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative; }
  #cm-section-management .wrapper {
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #cm-section-management .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #cm-section-management .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #cm-section-management .wrapper {
        width: 1100px; } }
    #cm-section-management .wrapper h2 {
      width: 520px;
      font-family: Nexa-Bold;
      color: #1C1C1C;
      font-size: 40px;
      line-height: 45px; }
    #cm-section-management .wrapper .sep {
      margin: 50px 0px 50px 0px;
      height: 2px;
      width: 100px;
      background-color: #1C1C1C; }
    #cm-section-management .wrapper .content {
      display: flex;
      justify-content: space-between; }
      #cm-section-management .wrapper .content .container-photo {
        width: 370px;
        height: 650px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 12px 12px 0 0 #A6B7C7; }
      #cm-section-management .wrapper .content .container-text {
        width: 525px; }
        #cm-section-management .wrapper .content .container-text p {
          font-family: OpenSans-Regular;
          color: #606060;
          font-size: 16px;
          line-height: 26px; }
        #cm-section-management .wrapper .content .container-text .container-el {
          margin-top: 55px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          #cm-section-management .wrapper .content .container-text .container-el .el {
            width: 220px; }
            #cm-section-management .wrapper .content .container-text .container-el .el:first-child {
              margin-bottom: 65px; }
            #cm-section-management .wrapper .content .container-text .container-el .el h3 {
              font-family: Nexa-Bold;
              color: #1C1C1C;
              font-size: 26px;
              line-height: 32px; }
            #cm-section-management .wrapper .content .container-text .container-el .el p {
              font-family: OpenSans-Regular;
              color: #606060;
              font-size: 14px;
              line-height: 24px; }
        #cm-section-management .wrapper .content .container-text a {
          margin-top: 95px;
          cursor: pointer;
          text-decoration: none;
          display: inline-flex;
          flex-flow: row wrap;
          align-items: center;
          position: relative;
          padding: 17px 25px 17px 25px; }
          #cm-section-management .wrapper .content .container-text a .btn-arrow {
            position: relative;
            z-index: 1;
            transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #cm-section-management .wrapper .content .container-text a .btn-text {
            position: relative;
            z-index: 1;
            transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #cm-section-management .wrapper .content .container-text a.hover-left:hover:before {
            transform: translateX(5%) scaleX(1.1); }
          #cm-section-management .wrapper .content .container-text a.hover-left:hover .btn-arrow {
            transform: translateX(20px) scaleX(1.3); }
          #cm-section-management .wrapper .content .container-text a.hover-left:hover .btn-text {
            transform: translateX(10px); }
          #cm-section-management .wrapper .content .container-text a.hover-center:hover:before {
            transform: scaleX(1.1); }
          #cm-section-management .wrapper .content .container-text a.hover-center:hover .btn-arrow {
            transform: translateX(10px) scaleX(1.3); }
          #cm-section-management .wrapper .content .container-text a:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
          #cm-section-management .wrapper .content .container-text a:not(.style-transparent) .btn-arrow {
            width: 11px; }
          #cm-section-management .wrapper .content .container-text a:not(.style-transparent) .btn-text {
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 16px;
            line-height: initial;
            color: #FFF; }
          #cm-section-management .wrapper .content .container-text a:not(.style-white):not(.style-transparent):before {
            background-color: #000; }
          #cm-section-management .wrapper .content .container-text a:not(.style-white):not(.style-transparent) .btn-arrow {
            fill: #FFF; }
          #cm-section-management .wrapper .content .container-text a.style-white:before {
            background-color: #FFF; }
          #cm-section-management .wrapper .content .container-text a.style-white .btn-text {
            color: #1C1C1C; }
          #cm-section-management .wrapper .content .container-text a.style-white .btn-arrow {
            color: #1C1C1C; }
          #cm-section-management .wrapper .content .container-text a.style-transparent:before {
            background-color: transparent; }
          #cm-section-management .wrapper .content .container-text a.style-transparent .btn-text {
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 26px;
            line-height: 32px;
            color: #FFF; }
          #cm-section-management .wrapper .content .container-text a.style-transparent .btn-arrow {
            width: 17px;
            fill: #FFF; }
          #cm-section-management .wrapper .content .container-text a .btn-arrow {
            margin-left: 9px; }

/*=====  End of COMMON SECTION  ======*/
/*======================================
=            WRAP LINE ANIM            =
======================================*/
.wrapLine span {
  display: block;
  transform: translateY(25px);
  opacity: 0;
  transition: all 650ms cubic-bezier(0.705, 0.445, 0.345, 0.995); }
  .wrapLine span.anim {
    transform: translateY(0%);
    opacity: 1; }
  .wrapLine span:nth-child(1) {
    transition-delay: 0.05s; }
  .wrapLine span:nth-child(2) {
    transition-delay: 0.1s; }
  .wrapLine span:nth-child(3) {
    transition-delay: 0.15s; }
  .wrapLine span:nth-child(4) {
    transition-delay: 0.2s; }
  .wrapLine span:nth-child(5) {
    transition-delay: 0.25s; }
  .wrapLine span:nth-child(6) {
    transition-delay: 0.3s; }
  .wrapLine span:nth-child(7) {
    transition-delay: 0.35s; }
  .wrapLine span:nth-child(8) {
    transition-delay: 0.4s; }
  .wrapLine span:nth-child(9) {
    transition-delay: 0.45s; }

.wrapLine.anim span {
  transform: translateY(0%);
  opacity: 1; }

/*=====  End of WRAP LINE ANIM  ======*/
#header-desktop {
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: all 0.25s ease; }
  #header-desktop .wrapper {
    height: 90px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #header-desktop .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #header-desktop .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #header-desktop .wrapper {
        width: 1200px; } }
    #header-desktop .wrapper .container-link {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      #header-desktop .wrapper .container-link .logo {
        height: 28px;
        text-decoration: none;
        margin-right: 75px; }
        #header-desktop .wrapper .container-link .logo img {
          height: 100%; }
      #header-desktop .wrapper .container-link ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center; }
        #header-desktop .wrapper .container-link ul li {
          position: relative;
          padding-bottom: 7px;
          transform: translateY(3.5px);
          overflow: hidden; }
          #header-desktop .wrapper .container-link ul li a {
            text-decoration: none;
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 16px;
            line-height: initial; }
          #header-desktop .wrapper .container-link ul li:not(:last-child) {
            margin-right: 58px; }
          #header-desktop .wrapper .container-link ul li::before {
            content: " ";
            position: absolute;
            bottom: .5px;
            left: -25px;
            width: 25px;
            height: 2px;
            background-color: #1C1C1C;
            transition: all .25s ease; }
          #header-desktop .wrapper .container-link ul li.select::before, #header-desktop .wrapper .container-link ul li:hover::before {
            left: 0; }
    #header-desktop .wrapper .container-action {
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      #header-desktop .wrapper .container-action a {
        cursor: pointer; }
      #header-desktop .wrapper .container-action .signin {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding-bottom: 5px;
        padding-bottom: 9px;
        transform: translateY(4.5px); }
        #header-desktop .wrapper .container-action .signin .link-arrow {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial;
          margin-right: 5px; }
        #header-desktop .wrapper .container-action .signin .link-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial; }
        #header-desktop .wrapper .container-action .signin:before {
          content: '';
          position: absolute;
          left: 0px;
          bottom: 0px;
          width: 100%;
          height: 1px;
          background-color: #1C1C1C;
          transform: scaleX(0);
          transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #header-desktop .wrapper .container-action .signin:hover:before {
          transform: scaleX(1); }
        #header-desktop .wrapper .container-action .signin img {
          width: 13px;
          margin-right: 13px; }
        #header-desktop .wrapper .container-action .signin span {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial; }
      #header-desktop .wrapper .container-action .sep {
        margin: 0px 25px 0px 25px;
        background-color: rgba(0, 0, 0, 0.3);
        height: 3px;
        width: 3px;
        border-radius: 3px; }
      #header-desktop .wrapper .container-action .signup {
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        position: relative;
        padding: 20px 26px 20px 26px; }
        #header-desktop .wrapper .container-action .signup .btn-arrow {
          position: relative;
          z-index: 1;
          transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #header-desktop .wrapper .container-action .signup .btn-text {
          position: relative;
          z-index: 1;
          transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #header-desktop .wrapper .container-action .signup.hover-left:hover:before {
          transform: translateX(5%) scaleX(1.1); }
        #header-desktop .wrapper .container-action .signup.hover-left:hover .btn-arrow {
          transform: translateX(20px) scaleX(1.3); }
        #header-desktop .wrapper .container-action .signup.hover-left:hover .btn-text {
          transform: translateX(10px); }
        #header-desktop .wrapper .container-action .signup.hover-center:hover:before {
          transform: scaleX(1.1); }
        #header-desktop .wrapper .container-action .signup.hover-center:hover .btn-arrow {
          transform: translateX(10px) scaleX(1.3); }
        #header-desktop .wrapper .container-action .signup:before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #header-desktop .wrapper .container-action .signup:not(.style-transparent) .btn-arrow {
          width: 11px; }
        #header-desktop .wrapper .container-action .signup:not(.style-transparent) .btn-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial;
          color: #FFF; }
        #header-desktop .wrapper .container-action .signup:not(.style-white):not(.style-transparent):before {
          background-color: #000; }
        #header-desktop .wrapper .container-action .signup:not(.style-white):not(.style-transparent) .btn-arrow {
          fill: #FFF; }
        #header-desktop .wrapper .container-action .signup.style-white:before {
          background-color: #FFF; }
        #header-desktop .wrapper .container-action .signup.style-white .btn-text {
          color: #1C1C1C; }
        #header-desktop .wrapper .container-action .signup.style-white .btn-arrow {
          color: #1C1C1C; }
        #header-desktop .wrapper .container-action .signup.style-transparent:before {
          background-color: transparent; }
        #header-desktop .wrapper .container-action .signup.style-transparent .btn-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 26px;
          line-height: 32px;
          color: #FFF; }
        #header-desktop .wrapper .container-action .signup.style-transparent .btn-arrow {
          width: 17px;
          fill: #FFF; }
        #header-desktop .wrapper .container-action .signup .btn-arrow {
          margin-left: 14px; }
  #header-desktop.scroll {
    background-color: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); }

/*====================================
=            PAGE FEATURES           =
===================================*/
main {
  overflow: initial; }

#section-cover {
  position: relative;
  padding-top: 90px; }
  #section-cover .wrapper {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-top: 80px;
    padding-bottom: 55px;
    overflow: hidden; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #section-cover .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #section-cover .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #section-cover .wrapper {
        width: 1200px; } }
    #section-cover .wrapper:before {
      content: '';
      background-color: #1C1C1C;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%; }
  #section-cover .container-text {
    position: relative;
    max-width: 650px;
    margin: auto; }
    #section-cover .container-text h1 {
      font-family: Nexa-Bold;
      color: #1C1C1C;
      font-size: 50px;
      line-height: 60px;
      color: #FFF;
      text-align: center; }
  #section-cover .container-illu {
    width: 640px;
    position: relative;
    margin: 60px auto 0px auto; }
    #section-cover .container-illu .illu {
      display: block;
      width: 90%;
      margin: auto;
      position: relative;
      z-index: 1; }
    #section-cover .container-illu .obj-1 {
      position: absolute;
      left: 0px;
      top: 40%;
      width: 100%; }

/* ANIM */
#section-cover .wrapper:before {
  transform: translateY(-100%);
  transition: all 500ms cubic-bezier(1, 0, 0.28, 1); }

#section-cover .wrapper .container-illu .illu .container-el-anim-1 {
  transition: all 600ms cubic-bezier(1, 0, 0.28, 1);
  transition-delay: 0s;
  transform: translateY(40px);
  opacity: 0; }

#section-cover .wrapper .container-illu .illu .container-el-anim-2 {
  transition: all 600ms cubic-bezier(1, 0, 0.28, 1);
  transition-delay: 0.05s;
  transform: translateY(50px);
  opacity: 0; }

#section-cover .wrapper .container-illu .illu .container-el-anim-3 {
  transition: all 600ms cubic-bezier(1, 0, 0.28, 1);
  transition-delay: 0.1s;
  transform: translateY(30px);
  opacity: 0; }

#section-cover .wrapper .container-illu .illu .el-anim-4 {
  transition: all 600ms cubic-bezier(1, 0, 0.28, 1);
  transition-delay: 0.2s;
  transform: translateY(20px);
  opacity: 0; }

#section-cover .wrapper .container-illu .obj-1 {
  transition: all 1500ms cubic-bezier(1, 0, 0.28, 1);
  opacity: 0; }

#section-cover.anim .wrapper:before {
  transform: translateY(0%); }

@keyframes float {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(20px); } }

#section-cover.anim .wrapper .container-illu .illu .container-el-anim-1 {
  transform: translateY(0px);
  opacity: 1; }
  #section-cover.anim .wrapper .container-illu .illu .container-el-anim-1 .el-anim-1 {
    animation-duration: 5s;
    animation-delay: 1s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

#section-cover.anim .wrapper .container-illu .illu .container-el-anim-2 {
  transform: translateY(0px);
  opacity: 1; }
  #section-cover.anim .wrapper .container-illu .illu .container-el-anim-2 .el-anim-2 {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

#section-cover.anim .wrapper .container-illu .illu .container-el-anim-3 {
  transform: translateY(0px);
  opacity: 1; }
  #section-cover.anim .wrapper .container-illu .illu .container-el-anim-3 .el-anim-3 {
    animation-duration: 4s;
    animation-delay: 0s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

#section-cover.anim .wrapper .container-illu .illu .el-anim-4 {
  transform: translateY(0px);
  opacity: 1; }

#section-cover.anim .wrapper .container-illu .obj-1 {
  opacity: 1; }

#section-demo {
  padding-top: 195px;
  position: relative; }
  #section-demo .wrapper {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #section-demo .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #section-demo .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #section-demo .wrapper {
        width: 1100px; } }
    #section-demo .wrapper .container-text {
      position: sticky;
      top: 190px;
      width: 530px;
      margin-right: 80px; }
      #section-demo .wrapper .container-text h2 {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 40px;
        line-height: 45px; }
      #section-demo .wrapper .container-text .sep {
        margin: 50px 0px 50px 0px;
        height: 1px;
        width: 100px;
        background-color: #1C1C1C; }
      #section-demo .wrapper .container-text p {
        max-width: 285px;
        font-family: OpenSans-Regular;
        color: #606060;
        font-size: 16px;
        line-height: 26px; }
      #section-demo .wrapper .container-text a {
        margin-top: 50px;
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        position: relative;
        padding: 20px 26px 20px 26px; }
        #section-demo .wrapper .container-text a .btn-arrow {
          position: relative;
          z-index: 1;
          transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #section-demo .wrapper .container-text a .btn-text {
          position: relative;
          z-index: 1;
          transition: all 650ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #section-demo .wrapper .container-text a.hover-left:hover:before {
          transform: translateX(5%) scaleX(1.1); }
        #section-demo .wrapper .container-text a.hover-left:hover .btn-arrow {
          transform: translateX(20px) scaleX(1.3); }
        #section-demo .wrapper .container-text a.hover-left:hover .btn-text {
          transform: translateX(10px); }
        #section-demo .wrapper .container-text a.hover-center:hover:before {
          transform: scaleX(1.1); }
        #section-demo .wrapper .container-text a.hover-center:hover .btn-arrow {
          transform: translateX(10px) scaleX(1.3); }
        #section-demo .wrapper .container-text a:before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #section-demo .wrapper .container-text a:not(.style-transparent) .btn-arrow {
          width: 11px; }
        #section-demo .wrapper .container-text a:not(.style-transparent) .btn-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial;
          color: #FFF; }
        #section-demo .wrapper .container-text a:not(.style-white):not(.style-transparent):before {
          background-color: #000; }
        #section-demo .wrapper .container-text a:not(.style-white):not(.style-transparent) .btn-arrow {
          fill: #FFF; }
        #section-demo .wrapper .container-text a.style-white:before {
          background-color: #FFF; }
        #section-demo .wrapper .container-text a.style-white .btn-text {
          color: #1C1C1C; }
        #section-demo .wrapper .container-text a.style-white .btn-arrow {
          color: #1C1C1C; }
        #section-demo .wrapper .container-text a.style-transparent:before {
          background-color: transparent; }
        #section-demo .wrapper .container-text a.style-transparent .btn-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 26px;
          line-height: 32px;
          color: #FFF; }
        #section-demo .wrapper .container-text a.style-transparent .btn-arrow {
          width: 17px;
          fill: #FFF; }
        #section-demo .wrapper .container-text a .btn-arrow {
          margin-left: 14px; }
    #section-demo .wrapper .container-el {
      flex: 1; }
      #section-demo .wrapper .container-el .el {
        position: relative;
        width: 100%; }
        #section-demo .wrapper .container-el .el:not(:last-child) {
          margin-bottom: 120px; }
        #section-demo .wrapper .container-el .el .screen {
          position: relative;
          z-index: 1;
          width: 100%;
          margin-bottom: 40px; }
        #section-demo .wrapper .container-el .el .obj-1 {
          width: 240px;
          position: absolute;
          top: -100px;
          right: -100px; }
        #section-demo .wrapper .container-el .el .container-infos {
          position: relative; }
          #section-demo .wrapper .container-el .el .container-infos h3 {
            font-family: Nexa-Bold;
            color: #1C1C1C;
            font-size: 26px;
            line-height: 32px; }
          #section-demo .wrapper .container-el .el .container-infos p {
            margin-top: 10px;
            font-family: OpenSans-Regular;
            color: #606060;
            font-size: 14px;
            line-height: 24px; }

#section-features {
  padding: 120px 0px 120px 0px;
  position: relative;
  background-color: #F2F2F2;
  margin-top: 120px; }
  #section-features .wrapper {
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 700px) and (max-width: 1250px) {
      #section-features .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media screen and (max-width: 700px) {
      #section-features .wrapper {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px; } }
    @media screen and (min-width: 1250px) {
      #section-features .wrapper {
        width: 1100px; } }
  #section-features .container-text {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding-left: 50px; }
    #section-features .container-text .container-title {
      width: 375px;
      margin-right: 90px; }
      #section-features .container-text .container-title h1 {
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 40px;
        line-height: 45px;
        text-align: right; }
    #section-features .container-text .container-paragraph {
      width: 270px; }
      #section-features .container-text .container-paragraph p {
        font-family: OpenSans-Regular;
        color: #606060;
        font-size: 14px;
        line-height: 24px; }
      #section-features .container-text .container-paragraph a {
        margin-top: 35px;
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding-bottom: 5px; }
        #section-features .container-text .container-paragraph a .link-arrow {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial;
          margin-right: 5px; }
        #section-features .container-text .container-paragraph a .link-text {
          font-family: Nexa-Bold;
          color: #1C1C1C;
          font-size: 16px;
          line-height: initial; }
        #section-features .container-text .container-paragraph a:before {
          content: '';
          position: absolute;
          left: 0px;
          bottom: 0px;
          width: 100%;
          height: 1px;
          background-color: #1C1C1C;
          transform: scaleX(0);
          transition: all 450ms cubic-bezier(0.805, 0.05, 0.23, 0.94); }
        #section-features .container-text .container-paragraph a:hover:before {
          transform: scaleX(1); }
  #section-features .container-el {
    margin-top: 100px;
    padding-left: 200px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between; }
    #section-features .container-el .el {
      width: 210px; }
      #section-features .container-el .el .icn {
        width: 65px; }
        #section-features .container-el .el .icn img {
          width: 100%; }
      #section-features .container-el .el h3 {
        margin-top: 30px;
        font-family: Nexa-Bold;
        color: #1C1C1C;
        font-size: 26px;
        line-height: 32px; }
      #section-features .container-el .el p {
        margin-top: 17px;
        font-family: OpenSans-Regular;
        color: #606060;
        font-size: 14px;
        line-height: 24px; }
  #section-features .obj-1 {
    position: absolute;
    right: 85%;
    top: -100px;
    width: 640px;
    opacity: 0.1; }
  #section-features .obj-2 {
    position: absolute;
    right: 85%;
    top: 25px;
    width: 300px; }

/*========================================
=            END PAGE FEATURES           =
========================================*/
