@font-face {
	font-family:Nexa-Bold;
	src:url(../../fonts/Nexa-Bold.otf);
}
@font-face {
	font-family:OpenSans-Regular;
	src:url(../../fonts/OpenSans-Regular.ttf);
}
body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
	overflow:hidden;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  COLORS  ----------*/
	$colorMain_1: #1C1C1C; /* NOIR */
	$colorMain_2: #606060; /* GRIS */
	$colorMain_3: #59C7DD; /* BLEU */
	$colorMain_4: #F3C44F; /* JAUNE */
	$colorMain_5: #5D179F; /* VIOLET */
	$colorMain_6: #00585E; /* VERT */
	$colorMain_7: #F2F2F2; /* GRIS */


/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_Bold_1: Nexa-Bold;
	$font_Regular_1: OpenSans-Regular;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		/*----------  DESKTOP  ----------*/
		$h1_textsize_desktop: 50px;
		$h1_lineheight_desktop: 60px;


	/*----------  H2  ----------*/
		/*----------  DESKTOP  ----------*/
		$h2_textsize_desktop: 40px;
		$h2_lineheight_desktop: 45px;


	/*----------  H3  ----------*/
		/*----------  DESKTOP  ----------*/
		$h3_textsize_desktop: 38px;
		$h3_lineheight_desktop: 45px;


	/*----------  H4  ----------*/
		/*----------  DESKTOP  ----------*/
		$h4_textsize_desktop: 26px;
		$h4_lineheight_desktop: 32px;


	/*----------  H5  ----------*/
		/*----------  DESKTOP  ----------*/
		$h5_textsize_desktop: 16px;
		$h5_lineheight_desktop: initial;


	/*----------  H6  ----------*/
		/*----------  DESKTOP  ----------*/
		$h6_textsize_desktop: 14px;
		$h6_lineheight_desktop: initial;


	/*----------  QUOTE  ----------*/
		/*----------  DESKTOP  ----------*/
		$quote_textsize_desktop: 22px;
		$quote_lineheight_desktop: 34px;


	/*----------  PARAGRAPH BIG  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphBig_textsize_desktop: 18px;
		$paragraphBig_lineheight_desktop: 28px;


	/*----------  PARAGRAPH MEDIUM  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphMedium_textsize_desktop: 16px;
		$paragraphMedium_lineheight_desktop: 26px;


	/*----------  PARAGRAPH SMALL  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphSmall_textsize_desktop: 14px;
		$paragraphSmall_lineheight_desktop: 24px;


	/*----------  PARAGRAPH TINY  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphTiny_textsize_desktop: 11px;
		$paragraphTiny_lineheight_desktop: initial;


/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*----------  H1  ----------*/
		@mixin styleH1{
			font-family: $font_Bold_1;
		  	color: $colorMain_1;

		  	font-size: $h1_textsize_desktop;
			line-height: $h1_lineheight_desktop;
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			font-family: $font_Bold_1;
		  	color: $colorMain_1;
			font-size: $h2_textsize_desktop;
			line-height: $h2_lineheight_desktop;
		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			font-family: $font_Bold_1;
		  	color: $colorMain_1;
			font-size: $h3_textsize_desktop;
			line-height: $h3_lineheight_desktop;
		}

		/*----------  H4  ----------*/
		@mixin styleH4{
			font-family: $font_Bold_1;
		  	color: $colorMain_1;
			font-size: $h4_textsize_desktop;
			line-height: $h4_lineheight_desktop;
		}

		/*----------  H5  ----------*/
		@mixin styleH5{
			font-family: $font_Bold_1;
		  	color: $colorMain_1;
			font-size: $h5_textsize_desktop;
			line-height: $h5_lineheight_desktop;
		}

		/*----------  H6  ----------*/
		@mixin styleH6{
			font-family: $font_Bold_1;
		  	color: $colorMain_1;
			font-size: $h6_textsize_desktop;
			line-height: $h6_lineheight_desktop;
		}


		/*----------  PARAGRAPH QUOTE  ----------*/
		@mixin styleQuote{
			font-family: $font_Bold_1;
		  	color: $colorMain_1;
			font-size: $quote_textsize_desktop;
			line-height: $quote_lineheight_desktop;
		}

		/*----------  PARAGRAPH BIG  ----------*/
		@mixin styleParagraphBig{
			font-family: $font_Regular_1;
		  	color: $colorMain_2;
			font-size: $paragraphBig_textsize_desktop;
			line-height: $paragraphBig_lineheight_desktop;
		}

		/*----------  PARAGRAPH MEDIUM  ----------*/
		@mixin styleParagraphMedium{
			font-family: $font_Regular_1;
		  	color: $colorMain_2;
			font-size: $paragraphMedium_textsize_desktop;
			line-height: $paragraphMedium_lineheight_desktop;
		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphSmall{
			font-family: $font_Regular_1;
		  	color: $colorMain_2;
			font-size: $paragraphSmall_textsize_desktop;
			line-height: $paragraphSmall_lineheight_desktop;
		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphTiny{
			font-family: $font_Regular_1;
		  	color: #FFF;
			font-size: $paragraphTiny_textsize_desktop;
			line-height: $paragraphTiny_lineheight_desktop;
		}


		/*----------  BUTTON  ----------*/

			/*----------  COMMON  ----------*/
			@mixin styleButton-common{
				cursor: pointer;
				text-decoration: none;
				display: inline-flex;
				flex-flow: row wrap;
				align-items: center;
			  	position: relative;
			  	&:before{
			  		content: '';
			  		position: absolute;
			  		top: 0px;
			  		left: 0px;
			  		width: 100%;
			  		height: 100%;
			  		border-radius: 5px;

			  		transition: all 450ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
			  	}
			  	
			  	&:not(.style-transparent){
					.btn-arrow{
						width: 11px;
					}

					.btn-text{
						@include styleH5;
						color: #FFF;
				  	}
				}

			  	&:not(.style-white):not(.style-transparent){
			  		&:before{
			  			background-color: #000;
			  		}
			  		.btn-arrow{
			  			fill: #FFF;
			  		}
			  	}
			  	&.style-white{
					&:before{
			  			background-color: #FFF;
			  		}
			  		.btn-text{
			  			color: $colorMain_1;
			  		}
			  		.btn-arrow{
			  			color: $colorMain_1;
			  		}
			  	}
			  	&.style-transparent {
			  		&:before{
			  			background-color: transparent;
			  		}
					.btn-text{
						@include styleH4;
						color: #FFF;
				  	}
			  		.btn-arrow{
						width: 17px;
			  			fill: #FFF;
			  		}
			  	}
				
			}

			@mixin styleButton-hover{
				.btn-arrow{
					position: relative;
					z-index: 1;

					transition: all 650ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
				}

				.btn-text{
					position: relative;
					z-index: 1;

					transition: all 650ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
			  	}
				
				&.hover-left{
					&:hover{
						&:before{
							transform: translateX(5%) scaleX(1.1);
						}
						.btn-arrow{
							transform: translateX(20px) scaleX(1.3);
						}
						.btn-text{
							transform: translateX(10px);
						}
					}
				}

				&.hover-center{
					&:hover{
						&:before{
							transform: scaleX(1.1);
						}
						.btn-arrow{
							transform: translateX(10px) scaleX(1.3);
						}
					}
				}
			  	
			}


			/*----------  STYLE BIG  ----------*/
			@mixin styleButtonBig{
				@include styleButton-hover;
				@include styleButton-common;

				padding: 20px 26px 20px 26px;
				.btn-arrow{
					margin-left: 14px;
				}
			}


			/*----------  STYLE SMALL  ----------*/
			@mixin styleButtonSmall{
				@include styleButton-hover;
				@include styleButton-common;

				padding: 17px 25px 17px 25px;
				.btn-arrow{
					margin-left: 9px;
				}
			}


			/*----------  NAV  ----------*/
			@mixin styleButtonNav{
				@include styleButton-common;

				.btn-nav{
					cursor: pointer;
					padding: 20px 16px 20px 16px;
					&:nth-child(1){
						transform: rotate(180deg);
					}
					&:nth-child(2){
						transform: rotate(0deg);
					}
					svg{
						transition: all 500ms cubic-bezier(0.155, 0.870, 0.340, 1.005);
					}

					&:hover svg{
						transform: scale(1.3);
					}
				}
			}


		/*----------  LINK  ----------*/
		@mixin styleLink{
			cursor: pointer;
			text-decoration: none;
			display: inline-flex;
			flex-flow: row wrap;
			align-items: center;
			overflow: hidden;
			position: relative;
			padding-bottom: 5px;
			.link-arrow{
				@include styleH5;
				margin-right: 5px;	
			}
			.link-text{
				@include styleH5;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 100%;
				height: 1px;
				background-color: $colorMain_1;
				transform: scaleX(0);
				transition: all 450ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
			}
			&:hover{
				&:before{
					transform: scaleX(1);
				}
			}
		}


	/*----------  GRID  ----------*/

		/*----------  COMMON  ----------*/
		@mixin styleGrid-common{
			margin-right: auto;
			margin-left: auto;
			@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
				width: $grid_tablet;
				padding-right: 50px;
				padding-left: 50px;
			}
			@media screen and (max-width: $breakPoint_mobile){
				width: $grid_mobile;
				padding-right: 25px;
				padding-left: 25px;
			}
		}

		/*----------  SIZE 1  ----------*/
		@mixin styleGrid1{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_1;
			}
		}

		/*----------  SIZE 2  ----------*/
		@mixin styleGrid2{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_2;
			}
		}

		/*----------  SIZE 3  ----------*/
		@mixin styleGrid3{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_3;
			}
		}

		/*----------  SIZE 4  ----------*/
		@mixin styleGrid4{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_4;
			}
		}


	/*----------  ANIM  ----------*/	
	@mixin styleAnimation1{
		transform: translateY(25px);
	    opacity: 0;
	    transition: all 650ms cubic-bezier(0.705, 0.445, 0.345, 0.995);
	    &.anim{
	    	transform: translateY(0%);
    		opacity: 1;
	    }
	}


/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */


/*======================================
=            COMMON SECTION            =
======================================*/


#cm-section-demo{
	padding: 100px 0px 100px 0px;
	position: relative;
	.cover{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		&:after{
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(28,28,28,0) 0%, #1C1C1C 100%);
		}
	}
	.wrapper{
		position: relative;
		z-index: 1;
		margin: auto;
		text-align: center;
		width: 460px;
		h2{
			@include styleH2;
			color: #FFF;
			margin-bottom: 25px;
		}
		p{
			@include styleParagraphMedium;
			color: #FFF;
			margin-bottom: 50px;
		}
		a{
			@include styleButtonBig;
		}
	}
}

#cm-section-management {

	padding-top: 150px;
	padding-bottom: 150px;

	position: relative;
	.wrapper {
		@include styleGrid2;
		h2 {
			width: 520px;
			@include styleH2;
		}
		.sep {
			margin: 50px 0px 50px 0px;
			height: 2px;
			width: 100px;
			background-color: $colorMain_1;
		}

		.content {

			display: flex;
			justify-content: space-between;

			.container-photo {
				position: relative;
				width: 370px;
				height: 650px;

				.bg {
					position: relative;
					z-index: 1;
					width: 100%;
					height: 100%;

					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;	
				}

				&:before {
					content: " ";
					position: absolute;
					z-index: 0;
					top: 12px;
					left: 12px;

					width: 100%;
					height: 100%;

					background-color: #A6B7C7;
				}
			}
			.container-text {
				width: 525px;
				p {
					@include styleParagraphMedium;
				}
				.container-el {
					margin-top: 55px;

					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;

					.el {
						width: 220px;
						&:first-child {
							margin-bottom: 65px;
						}

						h3 {
							@include styleH4;
						}
						p {
							@include styleParagraphSmall;
						}
					}
				}
				a {
					margin-top: 95px;
					@include styleButtonSmall;
				}
			}
		}
	}
}

/*=====  End of COMMON SECTION  ======*/


/*======================================
=            WRAP LINE ANIM            =
======================================*/
.wrapLine{
	span{
		display: block;
	    @include styleAnimation1;
	    @for $i from 1 to 10 {
			&:nth-child(#{$i}) { transition-delay: $i * 0.05s; }
		}
	}
	&.anim{

		span{
			transform: translateY(0%);
    		opacity: 1;
		}
	}
}
/*=====  End of WRAP LINE ANIM  ======*/