@import 'common.scss';
@import 'header.scss';

/*====================================
=            PAGE FEATURES           =
===================================*/
main{
	overflow: initial;
}

#section-cover{
	position: relative;
	padding-top: 90px;
	.wrapper{
		@include styleGrid1;
		position: relative;
		padding-top: 80px;
		padding-bottom: 55px;
		overflow: hidden;
		&:before{
			content:'';
			background-color: $colorMain_1;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}
	}
	.container-text{
		position: relative;
		max-width: 650px;
		margin: auto;
		h1{
			@include styleH1;
			color: #FFF;
			text-align: center;
		}
	}
	.container-illu{
		width: 640px;
		position: relative;
		margin: 60px auto 0px auto;
		.illu{
			display: block;
			width: 90%;
			margin: auto;
			position: relative;
			z-index: 1;
		}
		.obj-1{
			position: absolute;
			left: 0px;
			top: 40%;
			width: 100%;
		}
	}
}

/* ANIM */
#section-cover{
	.wrapper{
		&:before{
			transform: translateY(-100%);
			transition: all 500ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
		}
		.container-illu{
			.illu{
				.container-el-anim-1{
					transition: all 600ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
					transition-delay: 0s;
					transform: translateY(40px);
					opacity: 0;
				}
				.container-el-anim-2{
					transition: all 600ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
					transition-delay: 0.05s;
					transform: translateY(50px);
					opacity: 0;
				}
				.container-el-anim-3{
					transition: all 600ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
					transition-delay: 0.1s;
					transform: translateY(30px);
					opacity: 0;
				}
				.el-anim-4{
					transition: all 600ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
					transition-delay: 0.2s;
					transform: translateY(20px);
					opacity: 0;
				}
			}
			.obj-1{
				transition: all 1500ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
				opacity: 0;
			}
		}
	}
}

#section-cover.anim{
	.wrapper{
		&:before{
			transform: translateY(0%);
		}
		.container-illu{
			.illu{

				@keyframes float {
					from {
						transform: translateY(0px);
					}
					to {
						transform: translateY(20px);
					}
				}

				.container-el-anim-1{
					transform: translateY(0px);
					opacity: 1;

					.el-anim-1{
						animation-duration: 5s;
						animation-delay: 1s;
  						animation-name: float;
  						animation-iteration-count: infinite;
  						animation-direction: alternate;
					}
				}
				.container-el-anim-2{
					transform: translateY(0px);
					opacity: 1;

					.el-anim-2{
						animation-duration: 3s;
						animation-delay: 2s;
  						animation-name: float;
  						animation-iteration-count: infinite;
  						animation-direction: alternate;
					}
				}
				.container-el-anim-3{
					transform: translateY(0px);
					opacity: 1;

					.el-anim-3{
						animation-duration: 4s;
						animation-delay: 0s;
  						animation-name: float;
  						animation-iteration-count: infinite;
  						animation-direction: alternate;
					}
				}

				.el-anim-4{
					transform: translateY(0px);
					opacity: 1;
				}
			}
			.obj-1{
				opacity: 1;
			}
		}
	}
}



#section-demo{
	padding-top: 195px;
	position: relative;
	.wrapper{
		@include styleGrid2;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		.container-text{
			position: sticky;
			top: 190px;
			width: 445px;
			margin-right: 80px;
			h2{
				@include styleH2;
			}
			.sep{
				margin: 50px 0px 50px 0px;
				height: 1px;
				width: 100px;
				background-color: $colorMain_1;
			}
			p{
				max-width: 285px;
				@include styleParagraphMedium;
			}
			a{
				margin-top: 50px;
				@include styleButtonBig;
			}
		}
		.container-el{
			flex: 1;
			.el{
				&:not(:last-child){
					margin-bottom: 120px;
				}
				position: relative;
				width: 100%;
				.screen{
					position: relative;
					z-index: 1;
					width: 100%;
					margin-bottom: 40px;
				}
				.obj-1{
					width: 240px;
					position: absolute;
					top: -100px;
					right: -100px;
				}
				.container-infos{
					position: relative;
					h3{
						@include styleH4;
					}
					p{
						margin-top: 10px;
						@include styleParagraphSmall
					}
				}
			}
		}
	}
}

#section-features{
	padding: 120px 0px 120px 0px;
	position: relative;
	background-color: $colorMain_7;
	margin-top: 120px;
	.wrapper{
		@include styleGrid2;
	}
	.container-text{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		padding-left: 50px;
		.container-title{
			width: 375px;
			margin-right: 90px;
			h1{
				@include styleH2;
				text-align: right;
			}
		}
		.container-paragraph{
			width: 270px;
			p{
				@include styleParagraphSmall;
			}
			a{
				margin-top: 35px;
				@include styleLink;
			}
		}
	}
	.container-el{
		margin-top: 100px;
		padding-left: 200px;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		.el{
			width: 210px;
			.icn{
				width: 65px;
				img{
					width: 100%;
				}
			}
			h3{
				margin-top: 30px;
				@include styleH4;
			}
			p{
				margin-top: 17px;
				@include styleParagraphSmall;
			}
		}
	}

	.obj-1{
		position: absolute;
		right: 85%;
		top: -200px;
		width: 640px;
		opacity: 0.1;
	}
	.obj-2{
		position: absolute;
		right: 85%;
		top: -50px;
		width: 300px;
	}
}


/*========================================
=            END PAGE FEATURES           =
========================================*/

@import 'footer.scss';