#header-desktop{
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	z-index: 100;
	transition: all 0.25s ease;
	.wrapper{
		height: 90px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		@include styleGrid1;
		.container-link{
			position: relative;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.logo{
				height: 28px;
				text-decoration: none;
				margin-right: 75px;
				img{
					height: 100%;
				}
			}
			ul{
				position: relative;
				list-style: none;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				li{
					position: relative;
					padding-bottom: 7px;
					transform: translateY(3.5px);
					overflow: hidden;

					display: flex;
					align-items: center;

					a{
						text-decoration: none;
						@include styleH5;
					}
					img {
						margin-left: 5px;
						width: 10px;
						height: 5px;
						transition: all .25s ease;
					}
					&::before {
						content: " ";
						position: absolute;
						bottom: .5px;
						left: -25px;

						width: 25px;
						height: 2px;
						background-color: $colorMain_1;

						transition: all .25s ease;
					}
					&.select, &:hover {
						&::before {
							left: 0;
						}
					}
					&:not(:last-child) {
						margin-right: 58px;
					}
				}
				.dropdown {
					position: absolute;
					top: calc(100% + 40px);
					left: -25px;
					
					width: 265px;

					border-radius: 5px;
					background-color: #FFF;
					box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);

					transition: all .5s ease;

					display: none;
					opacity: 0;

					a {
						display: inline-block;
						padding: 25px 17px;
						
						width: 100%;

						text-decoration: none;
						@include styleH5;

						transition: all .25s ease;

						&:first-child {
							border-radius: 5px 5px 0 0;
						}
						&:last-child {
							border-radius: 0 0 5px 5px;
						}

						&:hover {
							color: #FFF;
							background-color: $colorMain_1;
						}
					}
				}
				&.block {
					li img {
						transform: rotate(180deg);
					}
					.dropdown {
						display: block;
					}
				}
				&.show {
					.dropdown {
						opacity: 1;
					}
				}
			}
		}
		.container-action{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			a {
				cursor: pointer;
			}
			.signin{
				position: relative;

				display: flex;
				flex-flow: row wrap;
				align-items: center;

				@include styleLink;
				padding-bottom: 9px;
				transform: translateY(4.5px);

				img{
					width: 13px;
					margin-right: 13px;
				}
				span{
					@include styleH5;
				}
			}
			.sep{
				margin: 0px 25px 0px 25px;
				background-color: rgba(0, 0, 0, 0.3);
				height: 3px;	
				width: 3px;
				border-radius: 3px;
			}
			.signup{
				@include styleButtonBig;
			}
		}
	}
	&.scroll{
		background-color: #FFF;
		box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
	}
}