@import 'common.scss';
@import 'header.scss';

/*====================================
=            PAGE SERVICES           =
====================================*/


#section-cover{
	position: relative;
	padding-top: 90px;
	.wrapper{
		position: relative;
		overflow: hidden;
		@include styleGrid1;
		padding-top: 80px;
		padding-bottom: 55px;
		&:before{
			content:'';
			background-color: $colorMain_7;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}
	}
	.container-text{
		max-width: 650px;
		margin: auto;
		text-align: center;
		h1{
			@include styleH1;
			color: $colorMain_1;
		}
		p{
			@include styleParagraphBig;
		}
	}
	.container-illu{
		width: 640px;
		height: 350px;
		position: relative;
		margin: 60px auto 0px auto;
		.illu{
			width: 60%;
			position: absolute;
			left: 50%;
			bottom: 0px;
			transform: translateX(-50%);
			position: relative;
			z-index: 1;
		}
		.obj-1{
			position: absolute;
			left: 0px;
			top: 40%;
			width: 100%;
			opacity: 0.1;
		}
	}
}

/* ANIM */
#section-cover{
	.wrapper{
		&:before{
			transform: translateY(-100%);
			transition: all 500ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
		}
		.container-illu{
			.illu{
				.container-el-anim-1{
					transition: all 600ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
					transition-delay: 0s;
					transform: translateY(40px);
					opacity: 0;
				}
				.container-el-anim-2{
					transition: all 600ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
					transition-delay: 0.05s;
					transform: translateY(50px);
					opacity: 0;
				}
				.container-el-anim-3{
					transition: all 600ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
					transition-delay: 0.1s;
					transform: translateY(30px);
					opacity: 0;
				}
				.container-el-anim-4{
					transition: all 600ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
					transition-delay: 0.15s;
					transform: translateY(30px);
					opacity: 0;
				}
				.el-anim-5{
					transition: all 1750ms cubic-bezier(0.000, 0.975, 0.545, 1.000);
					transition-delay: 0.5s;
					opacity: 0;
					transform-origin: 50% 50%;
					transform: rotate(50deg);
				}
				.el-anim-6{
					transition: all 1500ms cubic-bezier(0.000, 0.975, 0.545, 1.000);
					transition-delay: 0.45s;
					opacity: 0;
				}
			}
			.obj-1{
				transition: all 1500ms cubic-bezier(1.000, 0.000, 0.280, 1.000);
				opacity: 0;
			}
		}
	}
}

#section-cover.anim{
	.wrapper{
		&:before{
			transform: translateY(0%);
		}
		.container-illu{
			.illu{

				@keyframes float {
					from {
						transform: translateY(0px);
					}
					to {
						transform: translateY(30px);
					}
				}

				.container-el-anim-1{
					transform: translateY(0px);
					opacity: 1;

					.el-anim-1{
						animation-duration: 5s;
						animation-delay: 1s;
  						animation-name: float;
  						animation-timing-function: ease;
  						animation-iteration-count: infinite;
  						animation-direction: alternate;
					}
				}
				.container-el-anim-2{
					transform: translateY(0px);
					opacity: 1;

					.el-anim-2{
						animation-duration: 2s;
						animation-delay: 2s;
  						animation-name: float;
  						animation-timing-function: ease;
  						animation-iteration-count: infinite;
  						animation-direction: alternate;
					}
				}
				.container-el-anim-3{
					transform: translateY(0px);
					opacity: 1;

					.el-anim-3{
						animation-duration: 4s;
						animation-delay: 0s;
  						animation-name: float;
  						animation-timing-function: ease;
  						animation-iteration-count: infinite;
  						animation-direction: alternate;
					}
				}

				.container-el-anim-4{
					transform: translateY(0px);
					opacity: 1;

					.el-anim-4{
						animation-duration: 4s;
						animation-delay: 1.5s;
  						animation-name: float;
  						animation-timing-function: ease;
  						animation-iteration-count: infinite;
  						animation-direction: alternate;
					}
				}

				.el-anim-5{
					opacity: 1;
					transform: rotate(0deg);
				}
				.el-anim-6{
					opacity: 1;
				}

			}
			.obj-1{
				opacity: 0.1;
			}
		}
	}
}




#section-features{
	margin-top: 95px;
	position: relative;
	.wrapper{
		@include styleGrid4;
	}
	.container-text{
		text-align: center;
		position: relative;
		h2{
			@include styleH2;
		}
		p{
			margin-top: 10px;
			@include styleParagraphMedium;
		}
		a{
			margin-top: 25px;
			@include styleLink;
		}
	}
	.container-el{
		margin-top: 95px;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		.el{
			width: 26%;
			margin-bottom: 80px;
			.icn{
				width: 65px;
				img{
					width: 100%;
				}
			}
			h3{
				margin-top: 30px;
				@include styleH4;
			}
			p{
				margin-top: 17px;
				@include styleParagraphSmall;
			}
		}
		&:after{
			content: '';
			width: 26%;
		}
	}
	.obj-1{
		position: absolute;
		left: 90%;
		width: 300px;
		top: 60%;
	}
}

@media screen and (max-width: $breakPoint_tablet) {
	#section-cover {
		padding-top: 60px;
	}
}

@media screen and (max-width: $breakPoint_mobile) {

	#section-cover .container-illu {
		width: 320px;
		height: 165px;
	}

	#section-features .obj-1 {
		display: none;
	}
	#section-features .wrapper {
		flex-direction: column;
	}
	#section-features .container-el {
		flex-direction: column;
	}
	#section-features .container-el .el {
		width: 100%;
	}
}

/*========================================
=            END PAGE SERVICES           =
========================================*/

@import 'footer.scss';