@import 'common.scss';
@import 'header.scss';

/*================================
=            PAGE HOME           =
================================*/
#section-home{
	padding: 140px 0px 0px 0px;
	.wrapper{
		position: relative;
		padding-bottom: 400px;
		@include styleGrid2;
	}
	.container-text{
		margin-left: 50%;
		width: 420px;
		h1{
			@include styleH1;
		}
		p{
			margin-top: 5px;
			@include styleParagraphBig;
		}
		a{
			margin-top: 38px;
			@include styleButtonBig;
		}
	}
	.obj-desktop-1{
		position: absolute;
		width: 350px;
		left: 0px;
		top: 0px;
	}
	.obj-desktop-2{
		position: absolute;
		width: 300px;
		top: 400px;
		left: 100px;
	}
	.obj-desktop-3{
		position: absolute;
		left: 50%;
		bottom: 0px;
		width: 320px;
	}
	.obj-mobile-1{
		display: none;
	}
}

#section-logos{
	margin-top: 70px;
	.wrapper{
		@include styleGrid2
		.container-text{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.line{
				flex: 1;
				height: 1px;
				background-color: $colorMain_7;
			}
			h2{
				margin: 0px 30px 0px 30px;
				text-align: center;
				@include styleH6;
			}
		}
		.container-el{
			margin-top: 40px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.el{
				position: relative;
				width: calc(100% / 6);
				height: 40px;
				img{
					max-width: 120px;
					max-height: 50px;
					position: absolute;
					top: 50%;
					left: 50%;
					opacity: 0;
					transition: all 0.75s ease;
					transform: translate(-50%, -50%) scale(0.7);
					&.active{
						opacity: 1;
						transform: translate(-50%, -50%) scale(1);
					}
				}
			}
		}
	}
}

#section-features{
	margin-top: 90px;
	position: relative;
	z-index: 1;
	.wrapper{
		padding-top: 150px;
		padding-bottom: 70px;
		position: relative;
		@include styleGrid2;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		&:before{
			left: -50px;
			top: 0px;
			content: '';
			background-color: $colorMain_7;
			position: absolute;
			height: 100%;
			width: calc(#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}) / 2));
		}
	}
	.container-text{
		width: 440px;
		position: relative;
		text-align: right;
		h2{
			@include styleH3;
		}
		.sep{
			margin: 50px 0px 50px auto;
			height: 1px;
			width: 100px;
			background-color: $colorMain_1;
		}
		p{
			margin-left: auto;
			width: 250px;
			@include styleParagraphMedium;
		}
		a{
			margin-top: 50px;
			@include styleLink;
		}
	}
	.container-features{
		position: relative;
		flex: 1;
		padding-left: 90px;
		.container-el{
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			.el{
				width: 40%;
				margin-bottom: 80px;
				.icn{
					width: 65px;
					img{
						width: 100%;
					}
				}
				h3{
					margin-top: 30px;
					@include styleH4;
				}
				p{
					margin-top: 17px;
					@include styleParagraphSmall;
				}
			}
		}
	}

	.obj-1{
		position: absolute;
		left: -250px;
		bottom: 0px;
		width: 640px;
	}
	.obj-2{
		position: absolute;
		left: -250px;
		top: 150px;
		width: 300px;
	}
}

#section-pres{
	position: relative;
	padding-top: 175px;
	.obj-1{
		position: absolute;
		right: -100px;
		top: -150px;
		width: 300px;
	}
	.wrapper{
		padding-bottom: 95px;
		@include styleGrid4;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		border-bottom: 1px solid $colorMain_7;
	}
	.container-text{
		width: 270px;
		margin-right: 100px;
		h2{
			@include styleH3;
		}
		.sep{
			margin: 50px 0px 50px 0px;
			height: 1px;
			width: 100px;
			background-color: $colorMain_1;
		}
		p{
			@include styleParagraphMedium;
		}
		a{
			margin-top: 50px;
			@include styleLink;
		}
	}
	.container-el{
		flex: 1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			width: 30%;
			img{
				height: 170px;
			}
			h4{
				margin-top: 35px;
				@include styleQuote;
			}
			p{
				margin-top: 17px;
				@include styleParagraphSmall;
			}
		}
	}
}

#section-quotes{
	padding: 90px 0px 90px 0px;
	position: relative;
	.wrapper{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		@include styleGrid4;
	}
	.container-pp{
		margin-right: 135px;
		height: 470px;
		width: 370px;
		position: relative;
		overflow: hidden;
		.pp{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			/*
			&.hide{
				z-index: 3;
				transform: translateX(100%);
				transition: transform 750ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
			}
			&.active{
				z-index: 2;
				opacity: 1;
				transform: translateX(0%);
				transition: transform 850ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
			}
			&.wait{
				z-index: 1;
				opacity: 0;
				transform: translateX(-100%);
			}*/

			&.hide{
				opacity: 1;
				clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
				transform: scale(1.1) translateX(20%);
				transition: all 1000ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
				z-index: 3;
			}
			&.active{
				transform: scale(1) translateX(0%);
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				z-index: 2;
				opacity: 1;
				transition: all 1000ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
			}
			&.wait{
				transform: scale(1.1) translateX(-20%);
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				z-index: 1;
				opacity: 0;
			}
		}
	}
	.container-text{
		flex: 1;
		.container-quotes{
			.quote{
				display: none;
				position: relative;
				.obj{
					position: absolute;
					top: 0px;
					right: calc(100% + 20px);
					width: 30px;
				}
				q{
					display: block;
					@include styleQuote;
					&:before,
					&:after{
						display: none;
					}
				}
				.sep{
					height: 1px;
					width: 100px;
					margin: 50px 0px 20px 0px;
					background-color: $colorMain_1;
				}
				.name{
					@include styleH5;
				}
				.job{
					@include styleParagraphSmall;
				}

				/* ANIM */
				.obj,
				q,
				.sep,
				.name,
				.job{
					transition: all 500ms cubic-bezier(0.805, 0.050, 0.230, 0.940);
					opacity: 0;
				}

				.obj,
				q,
				.name,
				.job{
					transform: translateY(20px);
				}

				.sep{
					transform: translateY(20px) scale(0);
				}

				&.active{
					.obj,
					q,
					.sep,
					.name,
					.job{
						opacity: 1;
						transform: translateY(0px) scale(1);
					}

					.obj{
						transition-delay: 0s;
					}
					q{
						transition-delay: 0.05s;
					}
					.sep{
						transition-delay: 0.1s;
					}
					.name{
						transition-delay: 0.15s;
					}
					.job{
						transition-delay: 0.2s;
					}
				}
			}
		}
		.nav{
			margin-top: 50px;
			@include styleButtonNav;
		}
	}
}

#section-demo{
	padding: 100px 0px 100px 0px;
	position: relative;
	.cover{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		&:after{
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(28,28,28,0) 0%, #1C1C1C 100%);
		}
	}
	.wrapper{
		position: relative;
		z-index: 1;
		margin: auto;
		text-align: center;
		width: 460px;
		h2{
			@include styleH2;
			color: #FFF;
			margin-bottom: 25px;
		}
		p{
			@include styleParagraphMedium;
			color: #FFF;
			margin-bottom: 50px;
		}
		a{
			@include styleButtonBig;
		}
	}
}


/*====================================
=            END PAGE HOME           =
=====================================*/

@import 'footer.scss';